{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'medalhas/styles.css' %}" />
    <title>Brasil</title>
</head>
<body>
<h1>Medalhistas:</h1>
    <ul>
        <li>Rebeca Andrade - Ginástica artística: 2 ouros, 3 pratas e 1 bronze (6 medalhas)</li>
        <li>Robert Scheidt - Vela: 2 ouros, 2 pratas e 1 bronze (5 medalhas)</li>
        <li>Torben Grael - Vela: 2 ouros, 1 pratas e 2 bronze (5 medalhas)</li>
        <li>Serginho - Vôlei: 2 ouros e 2 pratas (4 medalhas)</li>
        <li>saquias Queiroz - Canoagem: 1 ouro, 2 pratas e 1 bronze (4 medalhas)</li>
        <li>Gustavo Borges - Natação: 2 pratas e 2 bronzes (4 medalhas)</li>
        <li>Marcelo Ferreira - Vela: 2 ouros e 1 bronze (3 medalhas)</li>
        <li>Bruninho, Giba, Dante e Rodrigão - Vôlei: 1 ouro e 2 pratas (3 medalhas)</li>
        <li>Ricardo e Emanuel - Vôlei de Praia: 1 ouro, 1 prata e 1 bronze (3 medalhas)</li>
        <li>Rodrigo Pessoa - Hipismo, Fofão - Vôlei e Cesar Cielo - Natação: 1 ouro e 2 bronzes (3 medalhas)</li>
        <li>Mayra Aguiar - Judô: 3 bronzes (3 medalhas)</li> 
    </ul>
<h2><a href="{% url 'index' %}">Inicio</a></h2>
</body>
</html>