{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'medalhas/styles.css' %}" />
    <title>Brasil</title>
</head>
<body>
    <h1>Quadro de medalhas Brasil </h1>

    <h2> Medalhas de ouro 🥇</h2>
    
    <ul>
    <li>
        Beatriz Souza | Judô | +78kg
    </li>
    <li>
        Rebeca Andrade | Ginástica Artística | Solo feminino
    </li>
    </ul>
    <h2> Medalhas de prata 🥈</h2>
    
    <ul>
    
       
    <li>Caio Bonfim | Atletismo | Marcha Atlética 20 km</li>
    <li>Willian Lima | Judô | -66kg</li> 
    <li>Rebeca Andrade | Ginástica artística | Individual geral</li> 
    <li>Rebeca Andrade | Ginástica artística | Salto</li> 
    <li>Tatiana Weston-Webb | Surfe</li> 


    </ul>

    <h2> Medalhas de bronze 🥉</h2>
    <ul> 
        
<li> Pimenta | Judô | -52kg</li> 
<li> Rayssa Leal | Skate Street</li>
<li> Brasil | Ginástica Artística | Disputa por equipes - Rebeca Andrade, Flávia Saraiva, Jade Barbosa, Júlia Soares e Lorrane Oliveira</li>
<li> Brasil | Judô | Equipes mistas - Beatriz Souza, Rafaela Silva, Larissa Pimenta, Ketleyn Quadros, Daniel Cargnin, Rafael Macedo, Léo Gonçalves, Guilherme Schimidt, Rafael Silva e Willian Lima</li>
<li> Bia Ferreira | Boxe | 60kg</li>
<li> Gabriel Medina | Surfe</li>
<li> Augusto Akio | Skate Park</li>
<li> Edival Pontes "Netinho"| Taekwondo | -68kg</li>

    </ul>
<h2><a href="{% url 'index' %}">Inicio</a></h2>
</body>
</html>