<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estados Unidos</title>
</head>
<body>
    <h1>Quadro de medalhas</h1>
    <h2>Medalhas de Ouro 🥇</h2>
    <h2>Atletismo</h2>
    <ul>
        <li>Atletismo masculino | 100m | Noah LYLES </li>
        <li>Atletismo masculino | 400m | Quincy HALL</li>
        <li>Atletismo masculino | 1.500m | Cole HOCKER</li>
        <li>EUA | Basquete masculino</li>
    </ul>
    
    <h2>Medalhas de Prata 🥈  </h2>
    <ul>
        <li>Atletismo | Salto com vara masculino |  Sam KENDRICKS</li>
        <li>Hipismo | Saltos por equipes | EUA</li>
        <li>Luta | Luta livre feminino 76 kg | Kennedy Alexis BLADES</li>
        <li>Ginástica Artística | Solo feminino | Simone BILES </li>
    </ul>

    <h2>Medalhas de Bronze 🥉</h2>
    <ul>
        <li>EUA | Boxe masculino | 71kg | Omari JONES</li>
        <li>Atletismo masculino| 200m | Noah LYKES</li>
        <li>Atletismo masculino | 1.500m | Yared NUGUSE</li>
        <li>EUA | Polo Aquático | masculino</li>
    </ul>
</body>
</html>