<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>França</title>
</head>
<body>
    <h1>Quadro de medalhas França</h1>

    <h2> Medalhas de ouro 🥇</h2>
    
    <ul>
        <li>Manon APITHY-BRUNET | Esgrima | Sabre individual feminino</li>
        <li>Leon MARCHAND| Natação | 200m peito masculino </li>
        <li>Leon MARCHAND| Natação | 200m borboleta masculino</li>
        <li>Leon MARCHAND | Natação | 200m medley masculino</li>
    
    </ul>

    <h2> Medalhas de prata 🥈</h2>
    
    <ul> 
        <li>Auriane MALLO-BRETON | Esgrima | Espada individual feminino</li>
        <li>França | Esgrima |Espada por equipes</li>
        <li>Sara BALZER| Esgrima| Sabre individual feminino</li>
        <li>Yannick BOREL | Esgrima| Espada individual masculina</li>
    </ul>

    <h2> Medalhas de bronze 🥉</h2>

    <ul> 
        <li>Shirine BOUKLI | Judô | Até 48kg feminino</li>
        <li>Amandine BUCHARD | Judô| -52kg feminino</li>
        <li> Sarah Leonie CYSIQUE| Judô | -57kg feminino </li> 
        <li> Clarisse AGBEGNENOU | Judô | -63kg feminino </li>
    </ul>
</body>
</html>