{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quadro de países</title>
    <link rel="stylesheet" href="{% static 'medalhas/styles.css' %}" />
</head>
<body>
    <h1>Top 10 medalhistas:</h1>
    <h3>
        <table border="1">
            <tr>
                <td> Brasil</td>
                <td> Argentina</td>
                <td> França</td>
            </tr>
        </table>
    </h3>
</body>
</html>