{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quadro de países</title>
    <link rel="stylesheet" href="{% static 'medalhas/styles.css' %}" />
</head>
<body>
    <h1>Top 5 medalhistas:</h1>
    <h3>
            <ol>
                <li><a href="{% url 'brasil' %}">Brasil</a></li>
                <li><a href="{%url 'japao' %}">Japão</a></li>
                <li><a href="{%url 'franca' %}">França</a></li>
                <li><a href="{%url 'eua' %}">EUA</a></li>
                <li><a href="{%url 'china' %}">China</a></li>
            </ol>
    </h3>
</body>
</html>