{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'medalhas/styles.css' %}" />
    <title>Japão</title>
</head>
<body>
    <h1>Quadro de Medalhas</h1>
    
    <h2>Medalhas de Ouro 🥇</h2>
    <ul>
        <li>Atletismo | Lançamento de Dardo feminino | KITAGUCHI Haruka</li>
        <li>Breaking | B-Girls | AMI</li>
        <li>Esgrima | Espada individual masculina | Kano Koki</li>
        <li>Judô | Até 48kg feminino | TSUNODA Natsumi</li>
    </ul>
    
    <h2>Medalhas de Prata 🥈</h2>
    <ul>
        <li>Esgrima | Espada por equipes masculina | Japan</li>
        <li>Judô | Equipe Mista | Japan</li>
        <li>Natação | 400m medley masclino | MATSUSHITA Tomoyuki</li>
        <li>Skate | Street Feminino AKAMA Liz</li>
    </ul>
    
    <h2>Medalhas de Bronze 🥉</h2>
    <ul>
        <li>Judô | -73kg masculino |HASHIMOTO Soichi</li>
        <li>Judô | -60kg masculino |NAGAYAMA Ryuju</li>
        <li>Esgrima | Florete por Equipes Feminino | Japan</li>
        <li>Tênis de Mesa | SImples feminino | Hina HAYATA</li>
    </ul>
</body>
</html>